<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>
<ion-content class="no-scroll" padding>
<!--   <ion-grid>
    <ion-row>
      <ion-col >
        <button ion-button icon-left class="facebookButton">
          <ion-icon name="facebook-logo"></ion-icon>
          {{ 'modals.facebookLogin' | translate }}
        </button>
      </ion-col>
      <ion-col >
        <button ion-button icon-left class="googleButton" (click)="googleLogin()">
          <ion-icon name="google-logo"></ion-icon>
          {{ 'modals.googleLogin' | translate }}
        </button>
      </ion-col>
      <ion-col >
        <button ion-button icon-left class="twitterButton">
          <ion-icon name="twitter-logo"></ion-icon>
          {{ 'modals.twitterLogin' | translate }}
        </button>
      </ion-col>
      <ion-col >
        <button ion-button icon-left class="instagramButton">
          <ion-icon name="instagram-logo"></ion-icon>
          {{ 'modals.instagramLogin' | translate }}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <div class="hrLine"></div>
  <form (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <ion-list no-lines padding-top>
      <ion-item>
        <ion-icon name="mail" item-left>
        </ion-icon>
        <ion-input #email id="email" type="email" name="email" class="form-control" [(ngModel)]="model.email" required #email="ngModel" placeholder="Adresse e-mail"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="lock" item-left>
        </ion-icon>
        <ion-input #password id="password" type="password" name="password" class="form-control" [(ngModel)]="model.password" required #password="ngModel" placeholder="Mot de passe"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button block round color="secondary">Connexion</button>
  </form>
</ion-content>
