.ios,.md,.wp{
  page-login {
      .toolbar-background{ background:transparent; border-style:none;}
      .toolbar::after,.header-md::after{ background-image:none;}
      ion-content{
        background-color:color($colors,primary);
         background-image:url('../assets/images/bg-pattern.png');
         background-size:100% auto;
      }


      //.scroll-content { display: table; width: 100%; height: 100%; }
      .centerAlign { display: table-cell; vertical-align: middle; border:#ff0000 1px solid; }

  }
}
