<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>
<ion-content class="no-scroll" padding>
  <form #registerForm="ngForm" novalidate (ngSubmit)="register()">
    <ion-list no-lines padding-top>
      <ion-item>
        <ion-icon name="person" item-left>
        </ion-icon>
        <ion-input #lastName id="lastName" type="text" name="lastName" class="form-control" [(ngModel)]="model.lastName" required #lastName="ngModel" placeholder="Nom"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="person" item-left>
        </ion-icon>
        <ion-input #firstName id="firstName" type="text" name="firstName" class="form-control" [(ngModel)]="model.firstName" required #firstName="ngModel" placeholder="Prénom"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="person" item-left>
        </ion-icon>
        <ion-input #username id="username" type="text" name="username" class="form-control" [(ngModel)]="model.username" required #username="ngModel" placeholder="Nom d'utilisateur"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="mail" item-left>
        </ion-icon>
        <ion-input #email id="email" type="email" name="email" class="form-control" [(ngModel)]="model.email" required #email="ngModel" placeholder="Adresse e-mail"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="mail" item-left>
        </ion-icon>
        <ion-input #email_confirmation id="email_confirmation" type="email" class="form-control" name="email_confirmation" [(ngModel)]="model.email_confirmation" required validateEqual="email" #email_confirmation="ngModel" placeholder="Confirmer l'adresse e-mail"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="lock" item-left>
        </ion-icon>
        <ion-input #password id="password" type="password" name="password" class="form-control" [(ngModel)]="model.password" required #password="ngModel" placeholder="Mot de passe"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="lock" item-left>
        </ion-icon>
        <ion-input #password_confirmation id="password_confirmation" type="password" class="form-control" name="password_confirmation" [(ngModel)]="model.password_confirmation" required validateEqual="password" #password_confirmation="ngModel" placeholder="Confirmer le mot de passe"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button block round color="secondary">S'enregistrer</button>
  </form>
</ion-content>
