$searchbar-ios-input-text-color: white;
$searchbar-ios-input-search-icon-color: white;
$searchbar-md-input-text-color: white;
$searchbar-md-input-search-icon-color: white;

ion-title {
    text-align: center;
}