<ion-header>
  <ion-toolbar *ngIf="!toggled" color="primary">
    <ion-title>Bar'ez-Vous!</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="login()" *ngIf="!currentUser">
        <ion-icon name="contact"></ion-icon>
      </button>
      <button ion-button icon-only (click)="logout()" *ngIf="currentUser">
        <ion-icon name="exit"></ion-icon>
      </button>
      <button ion-button icon-only (click)="toggle()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="toggled" color="primary">
    <ion-searchbar
       [(ngModel)]="someValue"
       (ionInput)="searchThis($event)"
       (ionClear) = "cancelSearch($event)"
       [placeholder] = "placeholder"
       [cancelButtonText] = "cancelButtonText"
       [showCancelButton]=  "true">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-tabs #tabs [selectedIndex]="tabsIndex">
  <ion-tab [root]="tab1Root" tabTitle="Carte" tabIcon="map"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Liste" tabIcon="md-beer"></ion-tab>
</ion-tabs>
