<ion-header>
    <ion-navbar color="primary">
      <ion-buttons start>
        <button ion-button icon-right (click)="closeModal()">
          <ion-icon name="close" item-right></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Proposer un bar</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>
  <div class="fixed-content">
    <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Recherche"></ion-searchbar>
    <ion-list *ngIf="loaded" [hidden]="autocompleteItems.length == 0">
      <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
        {{ item.description }}
      </ion-item>
    </ion-list>
    <div #map id="map"></div> 
  </div>
</ion-content>