page-add-bar {
  ion-content {
    height: 100%;
    width: 100%;
  }
  #map {
    height: 50%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute!important;
    overflow: hidden!important;
  }
  ion-searchbar {
    position: absolute;
    opacity: .9;
    z-index: 3;
  }
}
  