<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button icon-right (click)="closeModal()">
        <ion-icon name="close" item-right></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="bar">{{bar?.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines *ngIf="bar">
    <ion-item color="primary">
      <h2>{{bar?.name}}</h2>
      <ion-note item-end *ngIf="bar?.note">
        <input class="star star-5" id="star-moy-5" type="radio" name="star-moy" [checked]="bar?.note == 5" disabled />
        <label class="star star-5" for="star-moy-5"></label>
        <input class="star star-4" id="star-moy-4" type="radio" name="star-moy" [checked]="4 <= bar?.note && bar?.note < 5" disabled/>
        <label class="star star-4" for="star-moy-4"></label>
        <input class="star star-3" id="star-moy-3" type="radio" name="star-moy" [checked]="3 <= bar?.note && bar?.note < 4" disabled/>
        <label class="star star-3" for="star-moy-3"></label>
        <input class="star star-2" id="star-moy-2" type="radio" name="star-moy" [checked]="2 <= bar?.note && bar?.note < 3" disabled/>
        <label class="star star-2" for="star-moy-2"></label>
        <input class="star star-1" id="star-moy-1" type="radio" name="star-moy" [checked]="bar?.note <= 2" disabled/>
        <label class="star star-1" for="star-moy-1"></label>
      </ion-note>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-icon item-left name="home"></ion-icon>
      <p>{{bar?.houseNumber}} {{bar?.street}}</p>
      <p>{{bar?.postCode}} {{bar?.city}}</p>
      <button item-right ion-button round (click)="openMap(bar.longitude, bar.latitude)">
        <ion-icon name="navigate"></ion-icon>
      </button>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-icon item-left name="call"></ion-icon>
      <p>{{bar?.phoneNumber}}</p>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-icon item-left name="mail"></ion-icon>
      <p>{{bar?.email}}</p>
    </ion-item>
    <ion-item text-center>
      <button ion-button *ngIf="this.bar.facebookPage" (click)="openFacebook()">
        Facebook
      </button>
      <button ion-button *ngIf="this.bar.websiteUrl" (click)="openWebsite()">
        Site Web
      </button>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item *ngIf="bar.openingTimes.length > 0">
      <ion-icon (click)="toggleHoraires()" color="primary" item-right [name]="horairesIcon"></ion-icon>
      <h1>Horaires</h1>
    </ion-item>
    <ion-item *ngIf="showHoraires">
      <ion-row>
        <ion-col col-4 text-center>
          <h2>Jour</h2>
        </ion-col>
        <ion-col col-4 text-center>
          <h2>Ouverture</h2>
        </ion-col>
        <ion-col col-4 text-center>
          <h2>Fermeture</h2>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item-group *ngIf="showHoraires">
      <ion-item *ngFor="let bar of bar.openingTimes">
        <ion-row>
          <ion-col col-4 text-center>
            <h3>{{mapJour.get(bar.day)}}</h3>
          </ion-col>
          <ion-col text-center col-4 *ngIf="!((bar.opening_time == '00:00:00') && (bar.opening_time == '00:00:00'))">
            <h3>{{bar.opening_time}}</h3>
          </ion-col>
          <ion-col text-center col-4 *ngIf="!((bar.opening_time == '00:00:00') && (bar.opening_time == '00:00:00'))">
            <h3>{{bar.closing_time}}</h3>
          </ion-col>
          <ion-col text-center col-8 *ngIf="(bar.opening_time == '00:00:00') && (bar.opening_time == '00:00:00')">
            FERME
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-item-group>
    <ion-item-divider></ion-item-divider>
    <ion-item *ngIf="bar.happyHours.length > 0">
      <ion-icon (click)="toggleHappyHours()" color="primary" item-right [name]="happyHoursIcon"></ion-icon>
      <h1>Happy Hours</h1>
    </ion-item>
    <ion-item *ngIf="showHappyHours">
      <ion-row>
        <ion-col col-4 text-center>
          <h2>Jour</h2>
        </ion-col>
        <ion-col col-4 text-center>
          <h2>Début</h2>
        </ion-col>
        <ion-col col-4 text-center>
          <h2>Fin</h2>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item-group *ngIf="showHappyHours">
      <ion-item *ngFor="let bar of bar.happyHours">
        <ion-row>
          <ion-col col-4 text-center>
            <h3>{{mapJour.get(bar.day)}}</h3>
          </ion-col>
          <ion-col col-4 text-center>
            <h3>{{bar.start_time}}</h3>
          </ion-col>
          <ion-col col-4 text-center>
            <h3>{{bar.end_time}}</h3>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-item-group>
    <ion-item>
      <h1>Commentaires</h1>
    </ion-item>
    <ion-grid *ngIf="currentUser">
      <ion-row>
        <ion-col text-center>
          <input class="star star-5" id="star-5" type="radio" name="star" (click)="changeStar(5)" />
          <label class="star star-5" for="star-5"></label>
          <input class="star star-4" id="star-4" type="radio" name="star" (click)="changeStar(4)" />
          <label class="star star-4" for="star-4"></label>
          <input class="star star-3" id="star-3" type="radio" name="star" (click)="changeStar(3)" />
          <label class="star star-3" for="star-3"></label>
          <input class="star star-2" id="star-2" type="radio" name="star" (click)="changeStar(2)" />
          <label class="star star-2" for="star-2"></label>
          <input class="star star-1" id="star-1" type="radio" name="star" (click)="changeStar(1)" />
          <label class="star star-1" for="star-1"></label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 text-center>
          <ion-textarea style="border:1px solid black" rows="4" #commentaire="ngModel" maxLength="255" [(ngModel)]="model.commentaire"></ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 text-center>
          <button ion-button (click)="postReview()">Envoie</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card *ngFor="let commentaire of barComments">
      <ion-item text-wrap>
        <ion-avatar item-start>
          <img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
        </ion-avatar>
        <h2>{{commentaire.user_name}}</h2>
        <ion-note>
          <input class="star star-5" id="star-comment-{{commentaire.id}}-5" type="radio" name="star-comment-{{commentaire.id}}" [checked]="commentaire.note == 5"
              disabled />
          <label class="star star-5" for="star-comment-{{commentaire.id}}-5"></label>
          <input class="star star-4" id="star-comment-{{commentaire.id}}-4" type="radio" name="star-comment-{{commentaire.id}}" [checked]="4 <= commentaire.note && commentaire.note < 5"
              disabled/>
          <label class="star star-4" for="star-comment-{{commentaire.id}}-4"></label>
          <input class="star star-3" id="star-comment-{{commentaire.id}}-3" type="radio" name="star-comment-{{commentaire.id}}" [checked]="3 <= commentaire.note && commentaire.note < 4"
              disabled/>
          <label class="star star-3" for="star-comment-{{commentaire.id}}-3"></label>
          <input class="star star-2" id="star-comment-{{commentaire.id}}-2" type="radio" name="star-comment-{{commentaire.id}}" [checked]="2 <= commentaire.note && commentaire.note < 3"
              disabled/>
          <label class="star star-2" for="star-comment-{{commentaire.id}}-2"></label>
          <input class="star star-1" id="star-comment-{{commentaire.id}}-1" type="radio" name="star-comment-{{commentaire.id}}" [checked]="commentaire.note <= 2"
              disabled/>
          <label class="star star-1" for="star-comment-{{commentaire.id}}-1"></label>
        </ion-note>
      </ion-item>
      <ion-card-content>
        {{commentaire.commentaire}}
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
