agm-map {
  height: 100px;
}

div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

label.starLabel {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #FE7;
  text-shadow: 0 0 5px #952;
  transition: all .2s;
}

span.starlabel {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 5px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

.btn-lg {
  width:170px;
}

.item-inner{
  max-height: 1px !important;
}

.label-md{
  margin-bottom: 1px!important;
  margin-top: 1px!important;
}

ion-item-divider{
  margin-top: 0px;
  min-height: 1px!important;
}
