<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button icon-right (click)="closeModal()">
        <ion-icon name="close" item-right></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Connexion / Inscription</ion-title>
  </ion-navbar>
</ion-header>
<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Connexion" tabIcon="log-in"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Inscription" tabIcon="information-circle"></ion-tab>
</ion-tabs>
