<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content style="overflow-y:hidden!important" padding>
  <div class="fixed-content">
    <div #map id="map">
    </div> 
    <!-- <ion-fab *ngIf="currentUser" top right>
      <button ion-fab mini color="secondary" (click)="addBar()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab> -->
  </div>
</ion-content>
