<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="searchString">
    <div *ngFor="let bar of bars | filter:searchString, index as i" (click)="openDetails(bar.id)">
      <div class="list-item-container">
        <div>
          <img src="{{ {} | random : 1 : 12}}" class="thumbnail">
        </div>
        <div>
          <div class="name">
            {{bar.name}}
          </div>
          <div class="location">
            <i class="fa fa-map-marker"></i> {{bar.city}}, {{bar.country}}
          </div>
          <div class="desc">
              {{ {} | openingTimes : bar}}
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div *ngIf="!searchString">
    <div *ngFor="let bar of barAround" (click)="openDetails(bar.id)">
      <div class="list-item-container">
        <div>
          <img src="{{ {} | random : 1 : 12}}" class="thumbnail">
        </div>
        <div>
          <div class="name">
            {{bar.name}}
          </div>
          <div class="location">
            <i class="fa fa-map-marker"></i> {{bar.city}}, {{bar.country}}
          </div>
          <div class="desc">
              {{ {} | openingTimes : bar}}
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</ion-content>
